@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */



input[type="text"],input[type="password"],input[type="email"],input[type="number"],input[type="tel"], textarea
{
@apply w-full border my-2 py-2 px-4 rounded-xl;
}
textarea {
    height: 170px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    /* background-color: #F53850; */
    @apply p-2 bg-primary w-full text-white rounded-xl;
}

.link-hover-effect {
    padding: 8px 0;
    ;
    
  }
  
  .link-hover-effect a {
    color: black;
    background: inherit;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .link-hover-effect:hover a {
    color: black;
     
    /* background: #fef8b0; */
  }